{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=" /> -->
    <link rel="stylesheet" href="{% static 'css/SignUp_OR_SignIn.css' %}">
    <title>{% block title %} Sign Up! {% endblock title %}</title>
</head>
<body style="background-color: #e9b743;">
    <div class="container-fluid px-0 d-flex justify-content-center align-items-center" style="margin-top: 100px"> <!-- TODO: cand se ingusteaza ecranul butoanele si textul si toate elementele ar trebuii sa se poata intide pana pe marginea containerului, ca acum daca butoanele au un margin setat fix o sa lase mereu spatiul ala acolo, nush cum se face asta dar poate o facem -->
        <div class="card custom-card w-100 px-2 py-3 px-md-4 py-md-5" style="border:0 solid black;">
            <div style="margin-bottom: 10px;"> <!-- Greeting Text -->
                <h1 class="text-center" id="login-box-greeting-text"> Welcome to (name)! </h1> 
            </div>
                
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <button class="btn btn-light btn-lg w-100 mb-3 d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/google-icon.svg' %}" style="width: 20px; height: 20px; margin-right: 10px;">
                        Continue with Google
                    </button>
                    
                    <button class="btn btn-light btn-lg w-100 mb-3 d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/facebook-icon.svg' %}" style="width: 20px; height: 20px; margin-right: 10px;">
                        Continue with Facebook
                    </button>

                    <button class="btn btn-light btn-lg w-100 mb-3 d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/apple-icon.svg' %}" style="width: 20px; height: 20px; margin-right: 10px;">
                        Continue with Apple
                    </button>
                </div>

                <div class="d-flex align-items-center my-3"> <!-- m = margin; y = y axis; 3 = size; -->
                    <div class="flex-grow-1" id="or-line1"></div>
                    <span class="px-3" id="or-word">OR</span>
                    <div class="flex-grow-1" id="or-line2"></div>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn btn-md w-100 mb-2" id="sign-in-button">
                        <span class="px-4" id="sign-in-text">Sign In</span>
                    </button>

                    <button class="btn btn-md w-100 mb-2" id="sign-up-button">
                        <span class="px-4" id="sign-up-text">Sign Up</span>
                    </button>
                </div>

                <div id="sign-in-form">
                      {% if signIn_form.errors %}
                      <div class="alert alert-danger">
                        {{ signIn_form.errors }}
                      </div>
                      {% endif %}
                      <form method="post" action="{% url 'auth' %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="sign_in">
                        <div class="mb-3">
                          <label for="id_email" class="form-label">Your Email Address:</label>
                          <input type="email" class="form-control" id="id_email" name="username">
                        </div>
                        <div class="mb-3">
                          <label for="id_password" class="form-label">Password:</label>
                          <input type="password" class="form-control" id="id_password" name="password">
                          <span><a href="http://127.0.0.1:8000/SignUp/" style="color:#201c17">Forgot your password?</a></span>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary w-100" id="Code100">Sign In</button>
                      </form>
                      <span style="display: inline-block; margin-top: 20px; font-size:small">By logging in, you accept the Terms and Conditions of our site.</span>
                    </div>

                  <div id="sign-up-form" style="display: none;">
                    {% if signUp_form.errors %}
                    <div class="alert alert-danger">
                      {{ signUp_form.errors }}
                    </div>
                    {% endif %}
                    <form method="post" action="{% url 'auth' %}">
                      {% csrf_token %}
                      <input type="hidden" name="form_type" value="sign_up">
                      <div class="mb-3">
                        <label for="id_email_su" class="form-label">Your Email Address:</label>
                        <input type="text" class="form-control" id="id_email_su" name="email"
                                value="{{ signUp_form.email.value|default_if_none:'' }}" required>
                      </div>
                      <div class="mb-3">
                        <label for="id_username_su" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="id_username_su" name="username"
                                value="{{ signUp_form.email.value|default_if_none:'' }}" required>
                      </div>
                      <div class="mb-3">
                        <label for="id_password_su" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="id_password1" name="password1" required>
                        <label for="id_password_su" class="form-label">Your password again:</label>
                        <input type="password" class="form-control" id="id_password2" name="password2" required>
                        <span style="display: block;">Your password must include:</span>
                        <span style="display: block;">- 9 or more characters</span> <!-- TODO: in loc de '-', trebuie pus un border ca sa arate mai bine vizual, asta se face cu un div ca mai sus -->
                        <span style="display: block;">- Capital letter</span>
                        <span style="display: block;">- Lowercase letter</span>
                        <span style="display: block;">- At least one number</span>
                      </div>

                      <span style="display: inline-block; margin-top: 25px; font-size:12px">When you click on "Create Account", you accept the (nume firma) Terms and Conditions</span>
                      <span style="display: inline-block; margin-top: 25px; margin-bottom:25px; font-size:12px">I understand that SC OLX Online Services SRL uses my personal data in accordance with the Privacy Statement and the Policy on Cookies and Other Similar Technologies . SC OLX Online Services SRL uses automated systems and partners that analyze how I use the services to provide product functionality and relevant content, personalized advertising materials, and protection against spam, malware, and unauthorized use.</span>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                <span style="font-size:12px">I agree to the use of electronic communication means and telecommunications equipment for the purpose of sending commercial information (e.g. newsletters, SMS messages) regarding OLX Online Services SRL, its affiliates or partners.</span>
                            </label>
                        </div>
                      <button type="submit" class="btn btn-lg btn-primary w-100">Sign Up</button>
                    </form>
                  </div>

                
        </div>
    </div>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'js/sign-in-up-menu.js' %}"></script>
</body>
</html>